{% extends 'base.html.twig' %}

{% block title %}Supermercados index{% endblock %}

{% block body %}
    <h1>Supermercados index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for supermercado in supermercados %}
            <tr>
                <td>{{ supermercado.id }}</td>
                <td>{{ supermercado.nombre }}</td>
                <td>
                    <a href="{{ path('app_supermercados_show', {'id': supermercado.id}) }}">show</a>
                    <a href="{{ path('app_supermercados_edit', {'id': supermercado.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_supermercados_new') }}">Create new</a>
{% endblock %}
